<template>
  <div id="app">
    <span class="empty"></span>
    <v-app id="inspire">
      <v-navigation-drawer fixed v-model="drawer" app id="menu">
        <h3>Examples</h3>
      </v-navigation-drawer>
      <v-toolbar color="teal" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title class="mainTitle">vue-interactive-graphics demo</v-toolbar-title>
      </v-toolbar>
      <v-content>
        <v-container fluid fill-height>
          <v-layout justify-center align-center class="columnDisplay">
            <div class="rowDisplay">
              <div class="columnDisplay" >
                <InteractiveGraphics :id="1" :width="550" :height="550" :dataString="dataText" :perspective="perspective1" @update="dataUpdate1" :stickingPrecision="0.01"/>
                <InteractiveGraphics :id="2" :width="550" :height="550" :dataString="data2Text" :perspective="perspective2" @update="dataUpdate2" :stickingPrecision="0.01"/>
              </div>
              <textarea v-model="dataText"></textarea>
              <textarea v-model="data2Text"></textarea>
            </div>
            <div>
              Toggle perspectives :
              <input type="checkbox" id="checkbox-perspective" v-model="perspective1">
              <input type="checkbox" id="checkbox-perspective2" v-model="perspective2">
            </div>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>


<script>
import Vue from 'vue'
import Vuetify from 'vuetify'
Vue.use(Vuetify)
import '../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss'
import '../node_modules/vuetify/dist/vuetify.min.css'

  import InteractiveGraphics from './InteractiveGraphics.vue'
  export default {
    data() {
      return {
        perspective1: false, perspective2: false,
        drawer: null,
        data_1: {
          instr: [
            { "id": 42, "layer": "1", "type": "grid", "dim-x": 1, "dim-y": 1, "x":0, "y":0, "w":35, "h":35 },
            { "id": 1, "layer": "2", "type": "line", "x1":5, "x2":15, "y1": 2, "y2": 8, "stroke": "red", "draggable": false },
            { "id": 2, "layer": "3", "type": "line", "x1":15, "x2":5, "y1": 2, "y2": 8, "stroke": "blue", "draggable": false },
            { "id": 3, "layer": "3", "type": "circle", "cx": 10, "cy": 5, "r": 3, "fill": "#cea", "draggable": true, "text": "abc", "stickingResolution":5, "stickingOffset": 3 },
            { "id": 4, "layer": "2", "type": "rect", "x": 12, "y": 2, "width": 3, "height": 1, "fill": "cyan", "draggable": true, "text": "def" },
            { "id": 5, "layer": "2", "type": "rect", "x": 6, "y": 1, "width": 3, "height": 1, "fill": "purple",
              "draggable": true, "resize": "constantSurface", "textStroke": "black", "text": "abcdef", "textColor": "yellow"
            },
            { "id": 6, "layer": "1", "type": "rounded-path", "radius": 1, "width": 1, "instructions": [
              {x:1, y:1}, {x:30, y:1}, {x:30, y:10}, {x:25, y:10}, {x:25, y:15}
            ]},
            { "id": 7, "layer":"1", "type":"array", "dim-x":1, "dim-y":1, "fill": "rgba(0,0,0,0.3)", "array": [
              [false,false,true,true,false,false],
              [false,false,true,false,false,false]
            ]}
          ],
          layerOrder: ['1','2','3'],
          drawSize: {
            'w': 35,
            'h': 35
          }
        },
        data_2: {
          instr: [
            { "id": 1, "layer": "1", "type": "grid", "dim-x": 0.5, "dim-y": 0.5, "x":0, "y":0, "w":35, "h":35 },
            { "id": 5, "layer": "2", "type": "rect", "x": 6, "y": 1, "width": 3, "height": 1, "fill": "purple",
              "draggable": true, "resize": "constantSurface", "textStroke": "black", "text": "abcdef", "textColor": "yellow"
            },
          ],
          layerOrder: ['1','2','3'],
          drawSize: {
            'w': 35,
            'h': 35
          }
        }
      }
    },
    components: { InteractiveGraphics },
    methods: {
      dataUpdate1(newValue) { // updates instance
        this.data_1 = JSON.parse(newValue)
      },
      dataUpdate2(newValue) { // updates instance
        this.data_2 = JSON.parse(newValue)
      }
    },
    computed: {
      dataText: {
        get: function() {
          return JSON.stringify(this.data_1, null, 4)
        },
        set: function(newValue) {
          try {
            this.data_1 = JSON.parse(newValue)
          } catch ( e ) {
            return { 'instr': [], 'error': true }
          }
        }
      },
      data2Text: {
        get: function() {
          return JSON.stringify(this.data_2, null, 4)
        },
        set: function(newValue) {
          try {
            this.data_2 = JSON.parse(newValue)
          } catch ( e ) {
            return { 'instr': [], 'error': true }
          }
        }
      },
    }
  }
</script>

<style lang="scss">
  textarea {
    margin: 10px;
    width: 300px;
    border: 1px solid #aaa;
    background-color: white;
  }

  .columnDisplay {
    display: flex;
    flex-direction: column;
  }

  .rowDisplay {
    display: flex;
    flex-direction: row;
  }
</style>
