<template lang="html">
  <div id="interactiveGraphics">
    <svg class="interactiveGraphicsCanvas" :id="canvasidwithouthash" :width="width" :height="height" v-bind:style="styleObject"></svg>
  </div>
</template>


<script lang="ts">
import Vue from 'vue'
import { Component, Watch } from 'vue-property-decorator'
import * as d3 from "d3"

import { IGInstruction, CLASS_ID_PREFIX } from "./instructions/Drawing"
import { LineSVG } from "./instructions/Line"
import { CircleSVG } from "./instructions/Circle"
import { RectangleSVG } from "./instructions/Rectangle"
import { GridSVG } from "./instructions/Grid"
import { RoundedPathSVG } from "./instructions/RoundedPath"
import { ArraySVG } from "./instructions/Array"

import { applyDragHandler } from "./interactions/dragHandler"
import { applyResizeConstantSurfaceHandler } from "./interactions/resizeConstantSurface"
import { applySelectionHandler } from './interactions/selectionHandler'
import { createDragRectangle } from './interactions/multipleDrag'
import { deleteScale, drawScale } from './interactions/scale'
import { applyClickHandler } from './interactions/general'

let instruction_bindings = {
  'line': new LineSVG(),
  'circle': new CircleSVG(),
  'rect': new RectangleSVG(),
  'grid': new GridSVG(),
  'rounded-path': new RoundedPathSVG(),
  'array': new ArraySVG()
}

interface IGData {
  instr: IGInstruction[],
  layerOrder: string[],
  drawSize: {
    w: number,
    h: number
  },
  background?: string,
  error?: boolean
}

@Component({
  props: {
    width: Number,
    height: Number,
    dataString: String,
    perspective: Boolean,
    id: Number
  }
})
export default class InteractiveGraphics extends Vue {
  width: number
  height: number
  dataString: string
  perspective: boolean
  selectedInstructions:any
  zoomLevel:number
  id:number

  mounted(): void {
    this.initSVGInterface()
  }

  updated(): void {
    this.initSVGInterface()
  }

  reset(): void {
    this.svgd3.selectAll("*").remove()
    this.initSVGInterface()
  }

  get svg():any { return document.querySelector(this.canvasid) }
  get svgd3():any { return d3.select(this.canvasid) }

  get name():string {
    return 'interactiveGraphics'
  }

  get canvasid():any {
    return "#canvas-"+this.id
  }

  get canvasidwithouthash():any {
    return "canvas-"+this.id
  }

  setSelectedInstructions(instr) {
    this.selectedInstructions = instr
    createDragRectangle(this, instr, this.svgd3.select('.everything'), this.getScaleX(), this.getScaleY())
  }

  applyListenersInstruction(instr, obj) {
    // add drag handler
    // console.log(instr);
    
    if ( instr.draggable ) {
      applyDragHandler(
        this, obj.select('.representation'), this.getScaleX(), this.getScaleY())
    }

    if ( instr.resize === "constantSurface" ) {
    // add resize constant surface
      applyResizeConstantSurfaceHandler(this, obj, this.getScaleX(), this.getScaleY())
    }
  }

  updateElement(instr) {
    // console.log('update elt')
    let layerObj = this.svgd3.select(`.layer-${instr.layer}`)
    // remove element
    this.svgd3.selectAll(`.${CLASS_ID_PREFIX}${instr.id}`).remove()
    // add element
    let a = instruction_bindings[instr.type].addSVG(instr, layerObj, this.getScaleX(), this.getScaleY())
    this.applyListenersInstruction(instr, a)
  }

  deleteInstructionSvg(id) {
    // console.log('IG: delete instruction id '+id)
    this.svgd3.selectAll(`.${CLASS_ID_PREFIX}${id}`).remove()
  }

  createInstructionSvg(instr) {
    let layerObj = this.svgd3.select(`.layer-${instr.layer}`)
    let a = instruction_bindings[instr.type].addSVG(instr, layerObj, this.getScaleX(), this.getScaleY())
    this.applyListenersInstruction(instr, a)
  }

  @Watch("dataString")
  dataChanged(newVal, oldVal): void {
      let id_a = {} // associative map id -> instruction
      let id_b = {}
      let list_a = [] // list of instruction id
      let list_b = []
      let a = JSON.parse(oldVal).instr  // a contains old instructions
      let b = JSON.parse(newVal).instr  // b contains new instructions
      for ( let e of a ) {
        id_a[e['id']] = e
        list_a.push(e['id'])
      }  
      for ( let e of b ) {
        id_b[e['id']] = e
        list_b.push(e['id'])
      }

      // // update elements
      // for ( let i of list_b ) { // check if b has more elements or elements different
      //   let check = false
      //   if ( id_a[i] === undefined || Object.keys(id_a[i]).length !== Object.keys(id_b[i]).length ){ 
      //     // check if there are more/less elements in a than in b
      //     check = true          
      //   } else {
      //     for ( let e of Object.keys(id_a[i]) ) {
      //       if ( i in id_a && JSON.stringify(id_a[i][e]) !== JSON.stringify(id_b[i][e]) ) {
      //         check = true
      //       }
      //     }
      //   }
      //   if ( check ) {
      //     this.updateElement(id_b[i])
      //   }
      // }

      
      // check if b adds or change some properties
      for ( let i of list_b ) {
        let check = false
        if ( id_a[i] !== undefined ) { // if elt exists in b
          for ( let prop of Object.keys(id_a[i]) ) {
            if ( JSON.stringify(id_a[i][prop]) !== JSON.stringify(id_b[i][prop]) ) {
              check = true
            }
          }
        } else { // b creates some element
          check = true
        }
        if ( check ) {
          this.updateElement(id_b[i])
        }
      }

      // check if an element in b removes or change properties from a
      for ( let i of list_a ) {
        let check = false
        if ( id_b[i] !== undefined ) { // if elt exists in b
          for ( let prop of Object.keys(id_a[i]) ) {
            if ( JSON.stringify(id_a[i][prop]) !== JSON.stringify(id_b[i][prop]) ) {
              check = true
            }
          }
        }
        if ( check ) {
          this.updateElement(id_b[i])
        }
      }

      // console.log("list a: "+list_a)
      // console.log("list b: "+list_b)
      // remove deleted instructions
      for ( let e of list_a ) {
        if ( (list_b.indexOf(e) < 0) ) {
          this.deleteInstructionSvg(e)
        }
      }

      // create inserted instructions
      for ( let e of list_b ) {
        if ( ! (e in list_a) ) {
          this.createInstructionSvg(id_b[e])
        }
      }
      // this.initSVGInterface()
  }

  @Watch("perspective")
  togglePerspective(): void {
    Vue.nextTick( () => {
      let svg = this.svg
      svg.classList.toggle("svgPerspective")
      let layers = svg.querySelectorAll('.layer')
      layers.forEach( (e,i,t) => {
        e.classList.toggle("layerPerspective")
      })
      this.applyAllLayerTransforms()
      let glasses = svg.querySelectorAll('.glass')
      glasses.forEach( (e) => {
        e.classList.toggle("glassVisible")
      })
    })
  }

  computeInstructions():IGData {
    try {
      return JSON.parse(this.dataString)
    } catch( e ) {
      return { 'instr': [], 'error': true, 'layerOrder': [], 'drawSize': {'w':0, 'h':0} }
    }
  }

  get instr():IGData {
    return this.computeInstructions()
  }

  get idInstructionMap() {
    let res = {}
    let pos = {}
    for ( let i in this.instr.instr ) {
      let e = this.instr.instr[i]
      res[e.id] = e
      pos[i] = e
    }
    return {'ids':res, 'pos':pos}
  }

  get styleObject() {
    return {
      'background-color': this.instr['background'] !== undefined ? this.instr['background'] : 'white'
    }
  }

  applyLayerTransform(e,i) {
    e.setAttribute("style", this.perspective?`transform: translate(50px, ${0.6*this.height-30*i}px) rotateX(60deg) rotateZ(-30deg) scale(0.8);`:"transform: none")
  }

  applyAllLayerTransforms() {
    let layers = this.svg.querySelectorAll('.layer')
    layers.forEach( (e,i,t) => {
      this.applyLayerTransform(e,i)
    })
  }

  getListLayers(): string[] {
    return this.instr.layerOrder
  }

  getScaleX() {
    return d3.scaleLinear()
      .domain([0,this.instr.drawSize.w])
      .range([0, this.width])
  }

  getScaleY() {
    return d3.scaleLinear()
      .domain([0,this.instr.drawSize.h])
      .range([0, this.height])
  }

  positionInstructions(layerObj, instructions:IGInstruction[]) {
    let scaleX = this.getScaleX()
    let scaleY = this.getScaleY()

    for ( let instr of instructions ) {
      instruction_bindings[instr.type].addSVG(instr, layerObj, scaleX, scaleY)
    }
  }

  modifyInstruction(id:string, changeList:{k:string,v:any}[]):void {
    let newVal = this.idInstructionMap.ids[id]
    changeList.forEach( (e) => {
      newVal[e.k] = e.v
    })
    Vue.set(this.instr.instr, this.idInstructionMap.ids[id], newVal)
    this.$emit('update', JSON.stringify(this.instr))
    this.$emit('change', JSON.stringify({'id':newVal.id, 'changes':changeList}))
  }

  updateScale(zoomLevel:number) {
    // TODO: update scale
    deleteScale(this.svgd3)
    drawScale(
      this.svgd3,
      this.getScaleX(), 
      this.getScaleY(), 
      zoomLevel,
      {w:this.width, h:this.height})
  }

  applyAllListeners(): void {
    let svg = this.svg
    let svgd3 = this.svgd3
    let self = this

    // add zoom events
    let zoomHandler = d3.zoom()
      .on('zoom', zoomActions)

    function zoomActions() {
      self.zoomLevel = d3.event.transform.k
      self.svgd3.select('.everything').attr("transform", d3.event.transform)
      // self.svgd3.select('.everything').attr("scale", self.zoomLevel)
      // console.log(self.canvasid + "\t" + self.zoomLevel)
      self.updateScale(self.zoomLevel)
    }

    zoomHandler(this.svgd3)

    // add drag handler
    applyDragHandler(
      this,
      this.svgd3.selectAll(".draggable").select('.representation'),
      this.getScaleX(),
      this.getScaleY(),
    )

    // add resize constant surface
    applyResizeConstantSurfaceHandler(
      this,
      this.svgd3.selectAll('.resizeConstantSurface'),
      this.getScaleX(),
      this.getScaleY()
    )

    // apply multiple selection
    applySelectionHandler(
      this,
      this.svgd3.select('.everything'),
      this.getScaleX(),
      this.getScaleY()
    )

    applyClickHandler(
      this,
      this.svgd3.select('.everything'),
      this.getScaleX(),
      this.getScaleY(), 
      (x,y) => {
        // console.log(`${x},${y}`)
      }
    )

  }

  /**
    Initializes SVG interface and calls instruction handlers
  */
  initSVGInterface(): void {

    let svg = this.svg
    if ( this.perspective ) {
      svg.classList.add('svgPerspective')
    }
    let svgd3 = this.svgd3

    let gRoot:any = svg.querySelector('.everything')
      ? svgd3.select('.everything')
      : svgd3.append('g').attr("class", "everything")

    // remove all elts from svg
    gRoot.selectAll('*').remove()

    // add background for capturing some events
    gRoot.append('rect')
      .attr('x', -this.width)
      .attr('y', -this.height)
      .attr('width', this.width*3)
      .attr('height', this.height*3)
      .attr('class', 'everythingBackground')
      .attr('fill', 'rgba(0,0,0,0.0)')

    // get list of layers
    let layerNames = this.getListLayers()
    // create layers in svg
    let persp = this.perspective
    let layers = layerNames.map( (e,i,t) => {
      return gRoot.append('g')
        .attr('class', `layer layer-${e} ${persp?'layerPerspective':''}`)
    })

    this.applyAllLayerTransforms()

    // for each layer, add glass element
    layers.forEach( (e) => {
      e.append('rect')
        .attr('x', 0)
        .attr('y', 0)
        .attr('width', this.width)
        .attr('height', this.height)
        .attr('class', `glass${this.perspective?" glassVisible":""}`)
        .on("mousedown", function() { d3.event.stopPropagation() })
    })
    layers.forEach( (e) => {
      e.append('rect')
        .attr('x', 0)
        .attr('y', 0)
        .attr('width', this.width)
        .attr('height', this.height)
        .attr('stroke', "#ccc")
        .attr('fill', "#0000")
        .classed('layerBorder', true)
        .on("mousedown", function() { d3.event.stopPropagation() })
    })

    let instrs = this.instr.instr.map( (e,i) => {
      let res = {...e}
      return res
    })

    // for each layer, extract instructions and draw them
    layerNames.forEach( (e,i,t) => {
      let instructions = instrs.filter( (a) => { return a.layer === e })
      this.positionInstructions(layers[i], instructions)
    })

    this.applyAllListeners()

    this.updateScale(1)

  }

}
</script>

<style lang="scss">
  .interactiveGraphicsCanvas {
    border: 1px solid black;
    overflow: hidden;
    transform-origin: 0px 0px 0px;
  }

  .layer {
    transition: transform 2s;
    transform-origin: 0px 0px 0px;
  }

  .glass {
    pointer-events: none;
    opacity: 0;
    transition: opacity 2s;
    fill: rgba(80,100,80,0.25);
    stroke: rgba(80,100,80,0.75);
  }

  .layerBorder {
    pointer-events: none;
  }

  .glassVisible {
    opacity: 1;
  }

</style>
